<%= form_for(comment_post, url: comment_post_path(post)) do |f| %>
  <% if @comment_post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span> <%= @comment_post.errors.first[1] %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nazwa*' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Wprowadź nazwę dla siebie' %>
  </div>
  <div class="form-group">
    <%= f.label :url, 'Strona' %>
    <%= f.text_field :url, class: 'form-control', placeholder: 'Wprowadź URL' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Wprowadź swój email (email nie będzie opublikowany)' %>
  </div>
  <div class="form-group">
    <%= f.label :content, 'Wiadomość*' %>
    <%= f.text_area :content, class: 'form-control', size: '30x10', placeholder: 'Wprowadź wiadomość' %>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
<% end %>
