<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Ruyielder', posts_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <% if actived_item == 'posts' %>
          <li class="active"><%= link_to 'Wpisy', posts_path %></li>
        <% else %>
          <li><%= link_to 'Wpisy', posts_path %></li>
        <% end %>

        <% if actived_item == 'archives' %>
            <li class="active"><%= link_to 'Archiwum', archives_path %></li>
        <% else %>
            <li><%= link_to 'Archiwum', archives_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>