<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <% if actived_item == 'posts' %>
        <%= link_to 'Wpisy', posts_path, class: 'blog-nav-item active' %>
      <% else %>
        <%= link_to 'Wpisy', posts_path, class: 'blog-nav-item' %>
      <% end %>

      <% if actived_item == 'archives' %>
        <%= link_to 'Archiwum', archives_path, class: 'blog-nav-item active' %>
      <% else %>
        <%= link_to 'Archiwum', archives_path, class: 'blog-nav-item' %>
      <% end %>

      <% if actived_item == 'tags' %>
          <%= link_to 'Tagi', tags_path, class: 'blog-nav-item active' %>
      <% else %>
          <%= link_to 'Tagi', tags_path, class: 'blog-nav-item' %>
      <% end %>
    </nav>
  </div>
</div>