<%= render partial: 'meta', locals: {subtitle: 'Archiwum'} %>
<%= render partial: 'posts/nav', locals: {actived_item: 'archives'} %>
<%= render partial: 'header' %>

<div class="container">
<div class="row">
  <div class="col-sm-12 blog-main">
      <% @posts.group_by_archives_published_at.each do |published_at, posts| %>
        <h2><%= published_at %></h2>
        <ul class="list-group">
          <% posts.each do |post| %>
            <li class="list-group-item"><%= link_to post.title, post %></li>
          <% end %>
        </ul>
      <% end %>
  </div>
</div>
<%= render partial: 'footer' %>